@font-face {
  font-family: harrypotter;
  src: url(harryp.TTF);

}

body {
 
  font-family: harrypotter;
  font-size: 45px;
  font-weight: bold;
  background-image: url(planodefundo.jpeg);
}
button {
  font-family: harrypotter;
  font-size: 30px;
  width: 20%;
  background-color: #C3C2B4;
  border-radius: 6px;
  margin-right: 4px;
}
button:hover {
  background: brown;
  color: #ebb93d;
}
#container {
  text-align: center;
  display: inline-block;
  width: 50%;
}
#div {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  margin-top: 150px;
  text-shadow: black 4px 4px 4px;
  color: #FFFFFF;
  border: 4px dashed brown;
  border-radius: 4px;
  width: auto;
  height: auto;
  bottom: 4px;
  padding: 5px;
}
#div:hover {
  border-color: brown;
}

div #h2 {
  margin: 15px;
}
div #paragrafo {
  padding: -5px;
}

div .imagensDiv {
  position: absolute;
  width:10%;
  right: 0;
  bottom: 0px;
}
#imagem {
  width: 50%;
  height: 250px;
  bottom: 5px;
}

#botaoprimeiratela {
  margin-bottom: 40px;
  font-size: 40px;
  width: auto;
  padding: 5px;
}

#imagemprimeiratela{
  width: 250px;
  height: 250px;
  margin-bottom: 5px;
}

#dementador {
  margin-bottom: 20px;
}

div #hermionegranger {
  width: 50%;
  height: 50%;
  bottom: 30px;
}
#leviosa {
  width: 40%;
  height: 400px;
}

#filch {
  width: 30%;
  height: 250px;
}



